<a href="casa.component.html">
  <button>​🐧​​Volver</button>
</a>
<div class="card-container">

  <p-card header="Estudios y producciones colaborativas" 
    subheader="El Computador" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Salmon' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://i.pinimg.com/originals/11/df/58/11df58e8d717e9358c502a66156ed374.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">
      Alrededor del mundo, varios estudios afirman que la speronas que trabajan para producir otras empresas, a menudo con computadores y les ayuda a progresar en su labor.
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
          </p-button>
      </div>
    </ng-template>
  </p-card>

  <p-card header="Robots en el mundo" 
    subheader="EL Comercio" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://media0.giphy.com/media/hWhzyAxIu6rVS5AKbP/giphy.gif?cid=6c09b952jd71by8ini4i29r5ypdwknbazf86urzjeibvdar0&ep=v1_gifs_search&rid=giphy.gif&ct=g" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">Los robots serán creados para ayudar al ser humano en tiempos de crisis.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Inteligencia Artificial" 
    subheader="Las Mañanitas" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://cdn.pixabay.com/animation/2023/03/10/08/24/08-24-39-553_512.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">La IA cobra vida y amenaza a un usuario que estuvo usando su plataforma.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Innovación en narrativa" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#76448a ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/EUlM.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">La industria del anime es conocida por su enfoque innovador en la narrativa, abordando temas complejos como la identidad, la moralidad, el sufrimiento humano y la tecnología. Muchas series de anime, como Neon Genesis Evangelion y Steins;Gate, son reconocidas por sus tramas profundas y filosóficas, lo que las hace atractivas tanto para jóvenes como para adultos.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="La tecnología en el futuro" 
    subheader="El Comercio" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: 'Salmon' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/Rr20.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">La tecnología en el mundo seguirá avanzando y para bien o para mal, este será el pilar de una nueva generación.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Manga como fuente principal" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/g0UF.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">El manga, los cómics japoneses, es la principal fuente de inspiración para muchos animes. Las historias en manga suelen ser adaptadas a series de anime, lo que permite a los creadores explorar más a fondo la narrativa y los personajes. Esta relación entre manga y anime ha sido clave en el éxito y expansión de la industria.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Animación única y estilo visual" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/Hmtd.gif" />
    </ng-template>
    <p style="color: rgb(10, 10, 10);">Una de las características más destacadas del anime es su estilo de animación, que incluye grandes ojos expresivos, detalles estilizados y movimientos fluidos. Los estudios de animación japoneses, como Studio Ghibli y Toei Animation, son conocidos por su calidad visual y creatividad, lo que ha influido enormemente en la animación mundial.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Diversidad de géneros" 
    subheader="EL SHIKAYRI" 
    [style]="{ width: '300px', backgroundColor: 'transparent', color: '#f4d03f ' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://i.gifer.com/IyuV.gif" />
    </ng-template>
    <p style="color: rgb(0, 0, 0);">La industria del anime abarca una vasta gama de géneros, desde acción y aventura hasta romance, horror y comedia. Esto permite que el anime atraiga a una audiencia global diversa, con contenidos adaptados para diferentes edades y gustos. La capacidad de mezclar géneros en una sola obra también es una característica distintiva.</p>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button label="VER AHORA" severity="success" styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-teal-800">
            </p-button>
        </div>
    </ng-template>
  </p-card>

</div>
